# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java crash logs
hs_err_pid*
replay_pid*

# =========================
# ANDROID / ANDROID STUDIO
# =========================

.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

frontend-android/EventraMobile/.gradle/
frontend-android/EventraMobile/app/build/

# =========================
# NODE.JS / MICROSERVICES
# =========================

node_modules/

backend-auth/node_modules/
backend-user/node_modules/
backend-events/node_modules/
backend-registrations/node_modules/
backend-activity/node_modules/
backend-results/node_modules/

# =========================
# ENV FILES
# =========================

.env

backend-auth/.env
backend-user/.env
backend-events/.env
backend-registrations/.env
backend-activity/.env
backend-results/.env

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# MAC / WINDOWS
# =========================

.DS_Store
Thumbs.db